/*
#AD7B34 brown
#FFCA80 lighter brown
#FABA63 tan
#2378AD dark blue
#64C0FA light blue

#948F69 brown
#FFEF75 yellow
#E0DBB6 pale yellow
#645A94 pruple
#C5BEE7 lilac
*/

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
  background-color: #C5BEE7;
}

#hi {
    text-align: center;
    font-family: 'New Tegomin', serif;
}

#daimei {
    font-family: 'New Tegomin', serif;
    font-size: 20px;
    font-weight: bold;
}

.me {
    width: auto;
    display: inline-block;
}

.me img {
    width: 30%;
    height: auto;
}

#icons, #ending {
    text-align: center;
}

.languages {
    font-size: 2rem;
}

.languages h1 .english { display: none; }
.languages h1:hover .japanese { display: none; }
.languages h1:hover .english { display: block; }

#icons {
    display: flex;
    justify-content: space-evenly;
}
#title {
    background-color: #645A94;
}

#second_to_last_row {
    background-color: #FFEF75;
}

#bottom_row {
    background-color: #645A94;
}

ul>li, #my_bio, #ending {
    font-family: 'Nanum Gothic', sans-serif;
}
